.timer {
  display: flex;
  margin: 0 auto;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border-radius: 50%;
  border: 5px solid #EAD7D7;
  width: 280px;
  height: 280px;
}
